/*头部*/
 form {
    margin: 0;
}
#head {
    background: #fff;
    padding-top: 40px;
    margin: 0;
    width: 100%;
}
/*选择下拉菜单*/
 #selectWrap {
    position: relative;
    height: 38px;
}
.search-triggers {
    height: 38px;
    overflow: hidden;
    position: absolute;
    float: left;
    z-index: 1;
    border: 1px solid #85b200;
}
.search-triggers .drop-list li {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
}
.search-triggers .drop-list li a {
    display: block;
    height: 38px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family:'微软雅黑';
    color: #686859;
}
.search-triggers .drop-list li a:hover {
    background: #f0f0f0;
}
/*三角形CSS制作*/
 .search-ico i {
    position: absolute;
    top:18px;
    right: 5px;
    width: 0;
    height: 0;
    border: 4px solid #85b200;
    border-color: #85b200 #fff #fff;
}
/*三角形CSS制作结束*/

/*选择下拉菜单结束*/

/*搜索文本框*/
 #searchTextWrap {
    margin: 0;
}
#searchText {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 30px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #85b200;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*搜索文本框结束*/

/*搜索按钮*/
 #searchButtonWrap {
    margin: 0;
}
#search-button {
    height: 40px;
    margin-left: 0;
    border:none;
    background: #85b200;
    color: #fff;
    font-size: 18px;
    font-family:'微软雅黑'；
}
/*搜索按钮结束*/

/*链接*/
 .links {
    text-align: center;
}
.links li a {
    text-decoration: none;
    color: #aaa;
    font-family:'宋体';
    font-size:14px;
}
.links li a:hover {
    color: #6dd900;
}
/*链接结束*/

/*全部课程*/
 .all-class {
    text-align: center;
    /*width: 30px;*/
}
.all-class a {
    color: #888;
    text-decoration: none;
    font-family:'宋体';
    font-weight: bold;
}
.all-class a:hover {
    color: #6dd900;
}
/*全部课程结束*/

/*表单整体外框*/
 #form-wrap {
    width: auto;
    border:2px solid #85b200;
}
/*表单整体外框结束*/

/*登陆注册*/
 .login {
    text-align: center;
    margin-top: 20px;
}
.login ul li {
    padding: 0 15px;
}
.login ul li a {
    font-size: 18px;
    color: #c1c1b5;
    text-decoration: none;
}
.login ul li a:hover {
    color:#6dd900;
}
#Registration {
    border-right: 2px solid #575747;
    padding-right: 17px;
}
/*登陆注册结束*/

/*头部结束*/

/*学堂在线*/
 #online {
    margin: 0;
    padding: 0 0 50px 0;
    width: 100%;
    background: #eee;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}
.image-nav {
    margin:0 auto;
    padding-top: 15px;
    background: #c76661;
    border-left: 1px solid #c76661;
    border-right: 1px solid #c76661;
}
.image-nav h1 {
    font-size: 24px;
    font-family:'微软雅黑';
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 5px;
}
ul.classify-first {
    position: relative;
    margin: 0 auto;
    list-style: none;
    border-left: 1px solid #bc4943;
    border-right: 1px solid #bc4943;
}
ul.classify-first > li {
    background: #bc4943;
    line-height: 40px;
    border-top: 1px solid #d38783;
}
ul.classify-first li a {
    color: #fff;
    font-family:'宋体';
    font-weight: bold;
    margin-right: 0px;
}
ul.classify-second {
    display: inline;
}
ul.classify-second > li {
    padding: 0;
}
ul.classify-second >li >a {
    display: block;
    font-family:'宋体';
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    width: auto;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px 5px;
}
ul.classify-second li a:hover {
    color:#bc4943;
    background: #fff;
}
ul.classify-first li a.classify-second-more {
    position: absolute;
    right: 10px;
}
.classify-first-more {
    margin: 0 auto;
    position: relative;
    height: 60px;
    background: #fff;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 3px solid #535353;
}
.floater {
    height: 50%;
    margin-bottom: -17px;
    float: left;
}
.classify-first-more a {
    display: block;
    clear: both;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
}
.classify-first-more a:hover {
    color: #fff;
    background: #c76661;
}
/*绿色样式*/
 .green .image-nav {
    background: #85b200;
    border-left: 1px solid #85b200;
    border-right: 1px solid #85b200;
}
.green ul.classify-first {
    border-left: 1px solid #6c9100;
    border-right: 1px solid #6c9100;
}
.green ul.classify-first >li {
    background: #6c9100;
    border-top: 1px solid #c2d980;
}
.green ul.classify-first > a.classify-second-more {
    background:
}
.green .classify-first-more a:hover {
    color: #fff;
    background: #85b200;
}
/*绿色样式结束*/

/*蓝色样式*/
 .blue .image-nav {
    background: #0098ca;
    border-left: 1px solid #0098ca;
    border-right: 1px solid #0098ca;
}
.blue ul.classify-first {
    border-left: 1px solid #007095;
    border-right: 1px solid #007095;
}
.blue ul.classify-first >li {
    background: #007095;
    border-top: 1px solid #80cce5;
}
.blue .classify-first-more a:hover {
    color: #fff;
    background: #0098ca;
}
.blue ul.classify-second li a:hover {
    color:#0098ca;
    background: #fff;
}
/*蓝色样式结束*/

/*学堂在线结束*/

/*最新上线*/
 #latest {
    width: 100%;
    margin: 0;
    background: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.title >h1 {
    font: 38px'微软雅黑';
    color: #85b200;
    margin: 0;
    line-height: 38px;
}
.title >p {
    font: 20px'微软雅黑';
    margin: 0;
}
.title-change >ul {
    list-style: none;
    text-align: center;
}
.title-change >ul >li {
    display: inline-block;
}
.title-change >ul >li >a {
    display: block;
    padding: 5px 20px;
    font: 16px'微软雅黑';
    text-decoration: none;
    color: #85b200;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.title-change >ul >li >a:hover {
    font: 16px'微软雅黑';
    text-decoration: none;
    background: #85b200;
    color: #fff;
}
.title-change >ul >li >a.title-change-active {
    font: 16px'微软雅黑';
    text-decoration: none;
    background: #85b200;
    color: #fff;
}
.title .floater {
    float: left;
    height: 100%;
    margin-bottom: -38px;
}
.title-content .floater {
    float: left;
    height: 100%;
    margin-bottom: -27px;
}
.title-change .floater {
    float: left;
    height: 100%;
    margin-bottom: -31px;
}
.latest-wrap {
    position: relative;
    left: 0;
}
.latest-content {
    position: relative;
    float: left;
}
.new-classes>li {
    margin-bottom: 20px;
}
.new-class {
    margin: 0 auto;
}
.new-class>img {
}
.new-class-hover {
    background: #85b200;
    color: #fff;
    text-align: left;
}
.new-class-hover>img {
    width: 55px;
    vertical-align: top;
}
.new-class-hover>ul {
    margin: 7px 0 0 0;
    list-style: none;
    display: inline-block;
}
.new-class-hover>ul>li {
    margin: 0;
}
.caption-hover {
    margin: 5px auto 0;
    width: 95%;
}
.caption-text-hover>p {
    line-height: 25px;
    font-size: 13px;
}
.new-class-hover-footer>a {
    float: right;
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../imgs/new-class-hover-footer.png) no-repeat;
}
.new-class-hover-footer {
    font: 16px'微软雅黑';
}
.caption>img {
    vertical-align: top;
}
.caption-text {
    display: inline-block;
    font:12px'微软雅黑';
    text-align: left;
}
.caption-text>h2 {
    font:18px'微软雅黑';
}
.caption-text>h2>a {
    text-decoration: none;
    color: #000;
}
.caption-text>span {
    margin-right: 11px;
}
a.more-class {
    text-decoration: none;
    font: 20px'微软雅黑';
    color: #000;
}
a.more-class:hover {
    color: #b3b3ac;
}
/*最新上线结束*/

/*课程动态*/
 #dynamic {
    width: 100%;
    background: #85b200;
    padding:45px 0;
}
.course-dynamic-wrap {
    background: #fff;
    border: 1px solid #1a6600;
    margin: 0 auto;
    padding: 25px 0 50px;
    text-align: center;
}
.course-dynamic-title>h1 {
    font: 18px'微软雅黑';
    color: #85b200;
}
.course-dynamic-classes {
    list-style: none;
    margin: 0;
}
.course-dynamic-classes>li {
    display: inline-block;
}
.course-dynamic-classes >li>a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #85b200;
    font: 14px'微软雅黑';
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.course-dynamic-classes>li>a:hover {
    color: #fff;
    background: #85b200;
}
.course-dynamic-details>ul {
    padding: 0 5%;
}
.course-dynamic-details>ul>li {
    border-bottom: 1px solid #85b200;
    padding: 25px 0;
}
.details-body {
    text-align: left;
    margin-top: 15px;
}
.details-body a.link {
    color: #85b200;
}
.details-footer {
    margin-top: 10px;
    text-align: right;
}
.details-footer>span {
    margin: 0 10px;
}
.share, .comment, .mark {
    display: inline-block;
    width: 20px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
.share {
    background: url(../imgs/list1.jpg) no-repeat;
}
.comment {
    background: url(../imgs/list2.jpg) no-repeat;
}
.mark {
    background: url(../imgs/list3.jpg) no-repeat;
}
.person-info>img {
    width: 45px;
    height: 45px;
    vertical-align: top;
}
.person-info>ul {
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    text-align: left;
}
.person-info-name {
    margin-bottom: 5px;
    font: 16px'微软雅黑';
}
.range-ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px;
}
.range1 {
    background: url(../imgs/range1.jpg) no-repeat;
}
.range2 {
    background: url(../imgs/range2.jpg) no-repeat;
}
.collage {
    font: 18px'宋体';
    color: #85b200;
}
.aside {
    background: #fff;
    border: 1px solid #1a6600;
    margin: 0 auto;
    padding: 25px 0 50px;
}
.announcement >h1 {
    font: 18px'微软雅黑';
    color: #85b200;
    text-align: center;
}
.announcement>p {
    text-indent: 28px;
    margin: 0 28px;
}
.ranking {
    margin-top: 75px;
}
.ranking>h1 {
    font: 18px'微软雅黑';
    color: #85b200;
    display: inline;
    margin-left: 40px;
}
.ranking>ul.classes {
    float: right;
    margin-right: 5px;
    display: inline-block;
}
.ranking>ul>li {
    display: inline-block;
}
.ranking>ul>li>a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #85b200;
    font: 14px'微软雅黑';
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.ranking>ul>li>a:hover {
    color: #fff;
    background: #85b200;
}
.rank {
    text-align: center;
}
.rank>li {
    border-bottom: 1px solid #85b200;
    width: 90%;
    text-align: left;
    padding: 14px 0;
}
.rank>li>img {
    vertical-align: top;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}
.ranking-info {
    display: inline-block;
    margin-left: 15px;
}
.ranking-info .name {
    font: 16px'黑体';
    color: #000;
    margin-bottom: 8px;
}
.ranking-info .content {
    font: 14px'宋体';
    color: #666666;
    margin: 0;
}
a.rank-more, a.dynamic-more {
    color: #85b200;
    float: right;
    margin-right: 8%;
}
/*课程动态结束*/

/*底部*/
 #footer {
    text-align: center;
    padding: 10px 0;
}
#footer ul li {
    border-right: 1px solid #000;
    padding: 0 30px;
}
#footer ul li a {
    font: 14px'微软雅黑';
    color:#000;
}
/*底部结束*/
 @media(min-width: 768px) {
    .aside, .classify-first-more, .classify-first, .image-nav {
        width: 80%;
    }
    ul.classify-first {
        text-align: left;
    }
    .classify-first li {
        padding-left: 10%;
    }
    .classify-first-more a {
        float: right;
        margin-right: 20px;
    }
    .classify-first-more a {
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    .title, .title-content {
        text-align: left;
    }
    .title>h1, .title>p {
        display: inline;
    }
    .title>p {
        margin-left: 35px;
    }
    .course-dynamic-wrap {
        width: 95%;
    }
    .course-dynamic-title>h1 {
        float: left;
    }
    .course-dynamic-classes {
        float: right;
        margin-top: 10px;
    }
    .course-dynamic-title {
        padding: 0 5%;
    }
    .person-info {
        float: left;
    }
    .collage {
        float: right;
    }
    #footer ul {
        height: 110px;
        line-height: 110px;
    }
}
@media(min-width: 1200px) {
    .all-class {
        width: 30px;
    }
    .new-classes>li {
        min-height: 230px;
    }
    .latest-wrap {
        width: 3600px;
    }
    .latest-content {
        width: 1200px;
    }
    /*完善最新上线中的各项显示*/
    .front .new-class {
        height: 230px;
    }
    .front .caption {
        width: 300px;
        margin: 0 auto;
    }
    .back .new-class {
        height: 205px;
    }
    .new-class-hover {
        width: 280px;
        padding: 15px 10px 10px 10px;
    }
}
@media (min-width: 979px) and (max-width: 1200px) {
    .latest-wrap {
        width: 2880px;
    }
    .latest-content {
        width: 960px;
    }
    /*完善最新上线中的各项显示*/
    .front .new-class {
        height: 230px;
    }
    .front .caption {
        width: 300px;
        margin: 0 auto;
    }
    .back .new-class {
        height: 205px;
    }
    .new-class-hover {
        width: 280px;
        padding: 15px 10px 10px 10px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .new-class>img {
        height: 127px;
    }
    .new-class-hover>img {
        height: 55px;
    }
    .latest-wrap {
        width: 2232px;
    }
    .latest-content {
        width: 744px;
    }
    /*完善最新上线中的各项显示*/
    .front .new-class {
        height: 260px;
    }
    .front .caption {
        width: 228px;
        margin: 0 auto;
    }
    .back .new-class {
        height: 235px;
    }
    .new-class-hover {
        width: 208px;
        padding: 15px 10px 10px 10px;
    }
}
@media (max-width: 768px) {
    /*完善最新上线中的各项显示*/
    .title>p{
        margin-top: 20px;
    }
    .title-change{
        margin-top: 20px;
    }
    .title-change>ul{
        margin: 0;
    }
    .front .new-class {
        height: 230px;
    }
    .front .caption {
        width: 300px;
        margin: 0 auto;
    }
    .back .new-class {
        height: 205px;
    }
    .new-class-hover {
        width: 280px;
        padding: 15px 10px 10px 10px;
    }
}
